<div class="page-header">
  <h2>
    Twitter上の就職話題度をチェック
    <div class="pull-right"><small>就職話題数: <%= Tweet.count %>件</small></div>
  </h2>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <%= link_to keywords_path do -%>
	    <%= fa_icon "external-link", text: "就職の話題（件）", right: true -%>
	  <% end -%>
	</h4>
      </div>
      <div class="panel-body">
	<% @keywords.each do |keyword| -%>
	  <p>
	    <%= keyword.name -%>
	    <strong>
	      <%= link_to keyword.tweet_count, keyword_path(keyword), class: "pull-right" -%>
	    </strong>
	  </p>
	<% end -%>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <%= fa_icon "twitter", text: "最新ツイート", right: true -%>
	</h4>
      </div>
      <ul class="tweets list-group">
	<% @tweets.each_with_index do |tweet, i| -%>
	  <li class="list-group-item">
	    <div class="media">
	      <div class="media-body">
		<div class="media-heading help-block"><%= link_to "@#{tweet.username}", "https://twitter.com/#{tweet.username}/status/#{tweet.id}" -%> <small><%= time_ago_in_words tweet.created_at %> <%= link_to tweet.company.name, company_path(tweet.company) -%></small></div>
		<%= tweet.text -%>
		<%= render partial: 'tweets/admin', locals: { tweet: tweet } -%>
	      </div>
	    </div>
	  </li>
	<% end -%>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <%= link_to companies_path do -%>
	    <%= fa_icon "external-link", text: "企業（話題数）", right: true -%>
	  <% end -%>
	</h4>
      </div>
      <div class="panel-body">
	<% @companies.each do |c| -%>
	  <p>
	    <%= c.name -%>
	    <strong>
	      <%= link_to c.tweet_count, company_path(c), class: "pull-right" -%>
	    </strong>
	  </p>
	<% end -%>
      </div>
    </div>
  </div>
</div><!--/row-->
