<div class="col-xs-12">
  <div class="header">
    <h2>
      <div class="pull-right"><small>就職話題数: <%= Tweet.select("id").count %>件</small></div>
      <%= t('title') -%>
    </h2>
  </div>
</div>
<div class="col-xs-12 col-sm-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
	<%= link_to keywords_path do -%>
	  <%= fa_icon "external-link", text: "就職の話題（件）" -%>
	<% end -%>
      </h4>
    </div>

    <div class="panel-body">
      <% @keyword_indices.each do |index| -%>
	<h4><%= index.name -%></h4>
	<p>
	  <% index.keywords.each_with_index do |k, i| -%>
	    <%= link_to keyword_path(k) do -%>
	      <%= k.name -%> <small><span class="text-muted"><%= k.tweet_count -%></span></small>
	    <% end -%>
	    <% if i.odd? -%>
	      <br/>
	    <% else -%>
	      &nbsp;&nbsp;&nbsp;
	    <% end -%>
	  <% end -%>
	</p>
      <% end -%>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="panel panel-primary">
    <%= render 'shared/ads' -%>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
	<%= fa_icon "bar-chart", text: "就職トレンド", right: true -%>
      </h4>
    </div>
    <div class="panel-body">
      <%= line_chart static_pages_chart_data_path %>
    </div>
  </div>

  <div class="panel panel-primary latest-tweet">
    <%= render 'tweets', tweets: @tweets, offset: "10" -%>
  </div>
</div>

<div class="col-xs-12 col-sm-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
	<%= link_to companies_path do -%>
	  <%= fa_icon "external-link", text: "企業" -%>
	<% end -%>
      </h4>
    </div>

    <div class="panel-body">
      <% @main_indices.each do |main| -%>
	<p>
	  <%= main.name -%><br />
	  <% main.sub_indices.take(5).each do |sub| -%>
	    <%= link_to sub.name, index_path(sub) -%> |
	  <% end -%>
	  <%= link_to "もっと見る", companies_path -%>
	</p>
      <% end -%>
    </div>
  </div>

  <div class="panel panel-primary">
    <%= render 'shared/ads' -%>
  </div>
</div>

