<h1>Listing keyword_indices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keyword_indices.each do |keyword_index| %>
      <tr>
        <td><%= keyword_index.name %></td>
        <td><%= link_to 'Show', keyword_index %></td>
        <td><%= link_to 'Edit', edit_keyword_index_path(keyword_index) %></td>
        <td><%= link_to 'Destroy', keyword_index, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword index', new_keyword_index_path %>
