<% if can?(:admin, current_user) && show_admin? -%>
  <ul class="list-inline">
    <li>
      <div class="<%= tweet.id %>-real">
	<% if tweet.useful == true %>
	  Real
	<% else %>
	  <%= form_for(tweet, html: {multipart: :true}, remote: true) do |f| %>
	    <%= f.hidden_field :useful, value: 1 %>
	    <%= f.hidden_field :bayesfilter, value: 0 %>
	    <%= f.submit "Useful", class: "btn btn-default btn-xs" %>
	  <% end %>
	<% end %>
      </div>
    </li>
    <li>
      <div class="<%= tweet.id %>-spam">
	<% if tweet.useful == false %>
	  Spam
	<% else %>
	  <%= form_for(tweet, html: {multipart: :true}, remote: true) do |f| %>
	    <%= f.hidden_field :useful, value: 0 %>
	    <%= f.hidden_field :bayesfilter, value: 0 %>
	    <%= f.submit "Unuseful", class: "btn btn-default btn-xs" %>
	  <% end %>
	<% end %>
      </div>
    </li>
    <li>
      <%= link_to 'Del', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs", remote: true %>
    </li>
  </ul>
<% end -%>
