count: <%= @count %>

<table class="table">
  <thead>
    <tr>
      <th>Company<th>
      <th>Text</th>
      <th>updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr class="<%= tweet.id %>">
        <td><%= tweet.company.name %></td>
        <td><%= tweet.text %></td>
        <td><%= tweet.updated_at %></td>
	<td>
	  <div class="<%= tweet.id %>-real">
	    <% if tweet.useful == true %>
	      Real
	    <% else %>
	      <%= form_for(tweet, html: {multipart: :true}, remote: true) do |f| %>
		<%= f.hidden_field :useful, value: 1 %>
		<%= f.hidden_field :bayesfilter, value: 0 %>
		<%= f.submit "Useful", class: "btn btn-default btn-xs" %>
	      <% end %>
	    <% end %>
	  </div>
	</td>
	<td>
	  <div class="<%= tweet.id %>-spam">
	    <% if tweet.useful == false %>
	      Spam
	    <% else %>
	      <%= form_for(tweet, html: {multipart: :true}, remote: true) do |f| %>
		<%= f.hidden_field :useful, value: 0 %>
		<%= f.hidden_field :bayesfilter, value: 0 %>
		<%= f.submit "Unuseful", class: "btn btn-default btn-xs" %>
	      <% end %>
	    <% end %>
	  </div>
	</td>
        <td><%= link_to 'Del', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs", remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tweets %>

<div class="unuseful">
  <div class="progress unuseful-p">
    <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
      <span class="sr-only">45% Complete</span>
    </div>
  </div>
  <%= form_tag unuseful_tweets_path, data: { remote: true } do -%>
    <% @tweets.each do |tweet| -%>
      <%= hidden_field_tag "tweets[]", tweet.id -%>
    <% end -%>
    <%= submit_tag "set unuseful", class: "btn btn-default" -%>
  <% end -%>
</div>

<div class="bayes">
  <div class="progress bayes-p">
    <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
      <span class="sr-only">45% Complete</span>
    </div>
  </div>
  <%= form_tag bayesfilter_tweets_path, data: { remote: true } do -%>
    <% @tweets.each do |tweet| -%>
      <%= hidden_field_tag "tweets[]", tweet.id -%>
    <% end -%>
    <%= submit_tag "set bayesfilter to false", class: "btn btn-default" -%>
  <% end -%>
</div>

<div class="remove">
  <div class="progress remove-p">
    <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
      <span class="sr-only">45% Complete</span>
    </div>
  </div>
  <%= form_tag removeall_tweets_path, data: { remote: true } do -%>
    <% @tweets.each do |tweet| -%>
      <%= hidden_field_tag "tweets[]", tweet.id -%>
    <% end -%>
    <%= submit_tag "del all", class: "btn btn-default" -%>
  <% end -%>
</div>

<br>

