<h2>Listing tweets</h2>

<table class="table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.text %></td>
        <td><%= tweet.username %></td>
        <td><%= link_to 'Useful', tweet %></td>
        <td><%= link_to 'Unuseful', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Del', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

