

<table class="table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.text %></td>
        <td><%= tweet.username %></td>
	<td>
	  <% if tweet.useful == true %>
	  Useful
	  <% else %>
	  <%= form_for(tweet) do |f| %>
	  <%= f.hidden_field :useful, value: 1 %>
	  <%= f.submit "Useful", class: "btn btn-default btn-xs" %>
	  <% end %>
	  <% end %>
	</td>
	<td>
	  <% if tweet.useful == false %>
	  Unuseful
	  <% else %>
	  <%= form_for(tweet) do |f| %>
	  <%= f.hidden_field :useful, value: 0 %>
	  <%= f.submit "Unuseful", class: "btn btn-default btn-xs" %>
	  <% end %>
	  <% end %>
	</td>
        <td><%= link_to 'Del', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

