<% title "転職サイトまとめ-リクリブ" -%>

<div class="col-xs-12">
  <div class="header">
    <h2>
      転職サイト比較
      <small>リクリブのおすすめ</small>
    </h2>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <%= image_tag("rikunabi.gif", :align => "right", :size => "120x20") -%>
      <h4><a href="http://px.a8.net/svt/ejp?a8mat=2HJRTK+D0K5V6+2GDO+5ZU2A" target="_blank">リクナビNEXT</a>
	<img border="0" width="1" height="1" src="http://www19.a8.net/0.gif?a8mat=2HJRTK+D0K5V6+2GDO+5ZU2A" alt=""></h4>
      <p>リクルートが運営する国内最大級の求人サイト。毎週約1,300件以上の新着・更新求人を掲載。<font color="red">会員登録数は500万人突破、転職者の約８割はリクナビNEXT。</font>あなたに興味を持った求人企業や転職エージェントから直接オファーが届くスカウトサービスもある。</p>
      <table class="table table-striped table-bordered">
	<tr>
	  <td>強み</td>
	  <td>転職サイト　顧客満足度No.1</td>
	</tr>

	<tr>
	  <td>リクリブの意見</td>
	  <td>転職登録しないと損！</td>
	<tr>

	<tr>
	  <td>公式URL</td>
	  <td><a href="http://next.rikunabi.com" target="_blank">http://next.rikunabi.com/</a></td>
	</tr>
      </table>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <%= image_tag("mynavi.gif", :align => "right", :size => "120x30") -%>
      <h4><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563448&vc_url=http%3A%2F%2Fmynavi-agent.jp%3Futm_source%3Dvc%26utm_medium%3Dcpa%26utm_campaign%3Dvc%26nst%3D0" target="_blank">マイナビエージェント</a></h4>
      <p>マイナビエージェントの転職支援サービスは、毎日更新の豊富な求人情報と<font color="red">人材紹介会社ならではの確かな転職コンサルティング</font>であなたの転職をサポート。転職エージェントならではの転職成功ノウハウ、お役立ち情報も多数掲載。
      </p>
      <table class="table table-striped table-bordered">
	<tr>
	  <td>強み</td>
	  <td>キャリアコンサルタント</td>
	</tr>

	<tr>
	  <td>リクリブの意見</td>
	  <td>丁寧な転職指導を受け！</td>
	<tr>

	<tr>
	  <td>公式URL</td>
	  <td><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563448&vc_url=http%3A%2F%2Fmynavi-agent.jp%3Futm_source%3Dvc%26utm_medium%3Dcpa%26utm_campaign%3Dvc%26nst%3D0" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883563448" height="1" width="0" border="0">http://mynavi-agent.jp</a></td>

	</tr>
      </table>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <%= image_tag("doda.gif", :align => "right", :size => "120x40") -%>
      <h4><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563437" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883563437" height="1" width="1" border="0">ＤＯＤＡ</a></h4>
      <p>
	転職業界最大手のインテリジェンスが運営する転職サイトがDODA。
	転職業界の中でも<font color="red">DODAの求人の質の高さは良く聞いていた。</font>
	IT系エンジニア、設計・開発職、メディカル業界などに特化して、たくさんの転職情報や求人を提供。
      </p>
      <table class="table table-striped table-bordered">
	<tr>
	  <td>強み</td>
	  <td>良質の転職求人情報</td>
	</tr>

	<tr>
	  <td>リクリブの意見</td>
	  <td>エリート達、ここに注目！</td>
	<tr>

	<tr>
	  <td>公式URL</td>
	  <td><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563440" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883563440" height="1" width="1" border="0">http://doda.jp</a></td>
	</tr>
      </table>
    </div>
  </div>
</div>

</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
	<%= image_tag("riku-agent.png", :align => "right", :size => "120x30") -%>
	<h4><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563862&vc_url=http%3A%2F%2Fwww.r-agent.com%2Finfo%2Flp%2Fgeneral%2F002%2F%3Fvos%3Dnragvalcommerce00009%26vos%3Dnragvalcommerce00009" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883563862" height="1" width="0" border="0">リクルートエージェント</a></h4>
	<p>リクルートエージェントはリクナビNEXTと違い、非公開求人を数多くあり、
	  特にグローバルキャリアの顧客、
	  <font color="red">グローバル求人や具体的なキャリアプラン</font>を
	  専任のコンサルタントからご提案させていただくことも可能。

	  <table class="table table-striped table-bordered">
	    <tr>
	      <td>強み</td>
	      <td>国内国外　両方強い！</td>
	    </tr>

	    <tr>
	      <td>リクリブの意見</td>
	      <td>登録しないと損！</td>
	    <tr>

	    <tr>
	      <td>公式URL</td>
	      <td><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563862&vc_url=http%3A%2F%2Fwww.r-agent.com%2Finfo%2Flp%2Fgeneral%2F002%2F%3Fvos%3Dnragvalcommerce00009%26vos%3Dnragvalcommerce00009" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883563862" height="1" width="0" border="0">http://www.r-agent.com/</a></td>
	    </tr>
	  </table>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
	<%= image_tag("type.gif", :align => "right", :size => "120x30") -%>
	<h4><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563416&vc_url=http%3A%2F%2Fshoukai.type.jp%2Flanding%2Flp%2F1107%2Fnensyu%2Fafvc.html%3Fwaad%3Dji05vcAV" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883563416" height="1" width="0" border="0">typeの人材紹介</a></h4>
	<p>大手転職サイトの「@type」が運営する転職支援サービスが「typeの人材紹介」。
	  その中に約8割りが非公開求人。
	  <font color="red">様々な企業との交渉を経験してきたアドバイザーが、顧客の転職活動をサポートします。</font>
	  採用後の給与について、typeは企業と交渉することもできる。
	</p>
	<table class="table table-striped table-bordered">
	  <tr>
	    <td>強み</td>
	    <td>顧客に代わって、企業と交渉</td>
	  </tr>

	  <tr>
	    <td>リクリブの意見</td>
	    <td>忙しい中でも転職活動できる！</td>
	  <tr>

	  <tr>
	    <td>公式URL</td>

	    <td><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563416&vc_url=http%3A%2F%2Fshoukai.type.jp%2Flanding%2Flp%2F1107%2Fnensyu%2Fafvc.html%3Fwaad%3Dji05vcAV" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883563416" height="1" width="0" border="0">http://shoukai.type.jp/</a></td>
	  </tr>
	</table>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
	<%= image_tag("hataraiku.gif", :align => "right", :size => "120x30") -%>
	<h4><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563463&vc_url=http%3A%2F%2Fwww.hatalike.jp%2Fh%2Fr%2FH100010s.jsp%3F__u%3D14348624952274176327071125949205" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883563463" height="1" width="0" border="0">はたらいく</a></h4>
	<p>
	  「はたらいく」はリクルートがリクナビNEXTとともに運営している総合求人情報サイト。
	  <font color="red">地元密着型の求人情報サイトの中では非常に求人掲載量も多い。</font>
	  興味のある企業へ顧客のひとがらをアピールすることができる。
	</p>
	<table class="table table-striped table-bordered">
	  <tr>
	    <td>強み</td>
	    <td>各地の求人情報を細かく網羅！</td>
	  </tr>

	  <tr>
	    <td>リクリブの意見</td>
	    <td>地元で転職活動！</td>
	  <tr>

	  <tr>
	    <td>公式URL</td>
	    <td><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563463&vc_url=http%3A%2F%2Fwww.hatalike.jp%2Fh%2Fr%2FH100010s.jsp%3F__u%3D14348624952274176327071125949205" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883563463" height="1" width="0" border="0">http://www.hatalike.jp/</a></td>
	  </tr>
	</table>
      </div>
    </div>
  </div>

</div>






<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="alert alert-danger" role="alert" align="center">女性転職はこちら<span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span></div>

    <div class="thumbnail">
      <div class="caption">
	リクルートが運営する女性向けの転職サイト<BR>
	地域別に女性の求人・女性の転職情報を探す<BR>
	<a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883564009" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883564009" height="1" width="1" border="0">女性のための転職サイト『とらばーゆ』</a>
	<iframe frameborder="0" allowtransparency="true" height="250" width="300" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=3177740&pid=883563999" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=3177740&pid=883563999"></script><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883563999" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883563999" height="250" width="300" border="0"></a></noscript></iframe>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="alert alert-success" role="alert" align="center">ITエンジニア転職はこちら<span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span></div>
    <div class="thumbnail">
      <div class="caption">
	ワークポートはITに強い転職エージェント<BR>
	<a href="http://px.a8.net/svt/ejp?a8mat=2C2KDB+1B19KI+2K3A+62MDE" target="_blank">IT・インターネット・ゲーム業界専門の転職コンシェルジュ【WORKPORT】</a>
	<img border="0" width="1" height="1" src="http://www19.a8.net/0.gif?a8mat=2C2KDB+1B19KI+2K3A+62MDE" alt="">

	<a href="http://px.a8.net/svt/ejp?a8mat=2C2KDB+1B19KI+2K3A+5YZ75" target="_blank">
	  <img border="0" width="300" height="250" alt="" src="http://www21.a8.net/svt/bgt?aid=141207455079&wid=001&eno=01&mid=s00000011935001003000&mc=1"></a>
	<img border="0" width="1" height="1" src="http://www16.a8.net/0.gif?a8mat=2C2KDB+1B19KI+2K3A+5YZ75" alt="">
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="alert alert-info" role="alert" align="center">既卒・第二新卒の若い方<span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span></div>
    <div class="thumbnail">
      <div class="caption">
	３万人の若者が利用する<a href="http://px.a8.net/svt/ejp?a8mat=2HDKAL+5X57CI+10SQ+656YQ" target="_blank">≪いい就職プラザ≫</a>では<br>第二新卒者・既卒未就職者・新卒大学生のための<br>就職支援・個別相談を行っています。
	<img border="0" width="1" height="1" src="http://www15.a8.net/0.gif?a8mat=2HDKAL+5X57CI+10SQ+656YQ" alt="">
	<a href="http://px.a8.net/svt/ejp?a8mat=2HDKAL+5X57CI+10SQ+67Z9T" target="_blank">
	  <img border="0" width="300" height="250" alt="" src="http://www25.a8.net/svt/bgt?aid=150118653358&wid=001&eno=01&mid=s00000004769001045000&mc=1"></a>
	<img border="0" width="1" height="1" src="http://www12.a8.net/0.gif?a8mat=2HDKAL+5X57CI+10SQ+67Z9T" alt="">
      </div>
    </div>
  </div>

