<h1>Listing mailmagas</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mailmagas.each do |mailmaga| %>
      <tr>
        <td><%= mailmaga.email %></td>
        <td><%= link_to 'Show', mailmaga %></td>
        <td><%= link_to 'Edit', edit_mailmaga_path(mailmaga) %></td>
        <td><%= link_to 'Destroy', mailmaga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mailmaga', new_mailmaga_path %>
