<div class="col-xs-12">
  <div class="header">
    <h2>
      メールマガ
    </h2>
  </div>
</div>
<div class="col-xs-12">
  <p>
    <strong>Email:</strong>
    <%= @mailmaga.email %>
  </p>
  <p>
    Company:<%= @mailmaga.company.name if @mailmaga.company %>
  </p>
  <p>
    Keyword:<%= @mailmaga.keyword.name if @mailmaga.keyword %>
  </p>

  <% if can?(:admin, current_user) && show_admin? -%>
    <%= link_to 'Edit', edit_mailmaga_path(@mailmaga) %> |
    <%= link_to 'Back', mailmagas_path %>
  <% end -%>
</div>
