<% if (hotkeywords_week && hotkeywords_week.count > 0) || (hotkeywords_month && hotkeywords_month.count > 0) -%>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
	<%= fa_icon "rocket", text: "人気キーワード" -%>
	<div class="pull-right">
	  <%= form_tag topword_company_path(company), html: {multipart: :true}, remote: true do -%>
	    <% if hotkeywords_month -%>
	      <%= hidden_field_tag(:month, 0) %>
	      <%= submit_tag "週間", class: "btn btn-default btn-xs" %>
	    <% else -%>
	      <%= hidden_field_tag(:month, 1) %>
	      <%= submit_tag "月間", class: "btn btn-default btn-xs" %>
	    <% end -%>
	  <% end -%>
	</div>
      </h4>
    </div>
    <div class="panel-body">
      <div class="small-link-buttons">
	<% if params[:keyword] -%>
	  <%= link_to "全て", company_path(company), class: "btn btn-info btn-sm" %>
	<% else -%>
	  <%= link_to "全て", company_path(company), class: "btn btn-info btn-sm active" %>
	<% end -%>
	<% hotkeywords = hotkeywords_month.nil? ? hotkeywords_week : hotkeywords_month -%>
	<% hotkeywords.each do |keyword| -%>
	  <% if keyword.useful -%>
	    <% if params[:keyword].to_s == keyword.name -%>
	      <%= link_to keyword.name, company_path(company) + "?keyword=#{keyword.name}", class: "btn btn-info btn-sm active" -%>
	    <% else -%>
	      <%= link_to keyword.name, company_path(company) + "?keyword=#{keyword.name}", class: "btn btn-info btn-sm" -%>
	    <% end -%>
	  <% end -%>
	<% end -%>
      </div>
    </div>
  </div>
<% end -%>
