<% if can? :admin, current_user -%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Alice name</th>
      <th>Tweet</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.alice_name %></td>
        <td><%= company.tweet_id %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Company', new_company_path %>
<% else -%>
  <% @companies.each do |company| -%>
    <p><%= company.name -%>: <%= company.tweet_count -%></p>
  <% end -%>
<% end -%>
