<% title "企業一覧 - リクリブ" -%>

<div class="page-header">
  <h2>
    企業一覧
    <small><%= t('title') %> - 会社数：<%= Company.count %></small>
  </h2>
</div>
<div class="link-buttons">
  <% @companies.each do |company| -%>
      <%= link_to "#{company.name} #{company.tweet_count}件", company_path(company), class: "btn btn-info" -%>

    <% if can?(:admin, current_user) && show_admin? -%>
      <%= link_to 'Edit', edit_company_path(company) %>
      <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end -%>
  <% end -%>
</div>
<%= paginate @companies %>

<% if can?(:admin, current_user) && show_admin? -%>
  <br />
  <%= link_to 'New Company', new_company_path %>
<% end -%>
