<% title "企業一覧 - リクリブ" -%>

<div class="page-header">
  <h2>
    企業一覧
    <small>Twitter上の就職話題度をチェック</small>
  </h2>
</div>
<div>
  <% @companies.each do |company| -%>
    <%= link_to "#{company.name} #{company.tweet_count}件", company_path(company), class: "btn btn-default" -%>
    <% if can?(:admin, current_user) && params[:admin] == "1" -%>
      <%= link_to 'Edit', edit_company_path(company) %>
      <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end -%>
  <% end -%>
</div>
<%= paginate @companies %>

<% if can?(:admin, current_user) && params[:admin] == "1" -%>
  <br />
  <%= link_to 'New Company', new_company_path %>
<% end -%>

<% if can? :admin, current_user -%>
  <br />
  <%= link_to "Admin", companies_path + "?admin=1" -%>
  <%= link_to "User", companies_path -%>
<% end -%>
