<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Alice name:</strong>
  <%= @company.alice_name %>
</p>

<p>
  <strong>Tweet:</strong>
  <%= @company.tweet_id %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
