<p id="notice"><%= notice %></p>

<div class="page-header">
  <h2>
    <%= @company.name %>
    <small>話題数: <%= @company.tweet_count %>件</small>
  </h2>
</div>

<%= link_to "全て", company_path(@company), class: "btn btn-default btn-sm" %>
<% @keywords.each do |keyword| -%>
  <% count = keyword.tweets.where(useful: true).where(company: @company).count -%>
  <% if count > 0 -%>
    <%= link_to "#{keyword.name}(#{count}件)", company_path(@company) + "?k=#{keyword.id}", class: "btn btn-default btn-sm" -%>
  <% end -%>
<% end -%>

<hr />

<% @tweets.each do |tweet| -%>
  <p class="<%= tweet.id %>">
    <%= link_to "@#{tweet.username}", "https://twitter.com/#{tweet.username}/status/#{tweet.id}" -%> <small><%= time_ago_in_words tweet.created_at %></small><br />
    <%= tweet.text -%>
    <%= render partial: 'tweets/admin', locals: { tweet: tweet } -%>
  </p>
  <hr class="hr-point" />
<% end -%>

<%= paginate @tweets %>
