<% title "話題一覧 - リクリブ" -%>

<div class="page-header">
  <h2>
    話題一覧
    <small>Twitter上の就職話題度をチェック</small>
  </h2>
</div>
<div class="link-buttons">
  <% @keywords.each do |keyword| -%>
    <%= link_to "#{keyword.name} #{keyword.tweet_count}件", keyword_path(keyword), class: "btn btn-default" -%>
    <% if can?(:admin, current_user) && params[:admin] == "1" -%>
      <%= link_to 'Edit', edit_keyword_path(keyword) %>
      <%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end -%>
  <% end -%>
</div>
<%= paginate @keywords %>

<% if can?(:admin, current_user) && params[:admin] == "1" -%>
  <br />
  <%= link_to 'New Keyword', new_keyword_path %>
<% end -%>

<% if can? :admin, current_user -%>
  <br />
  <%= link_to "Admin", keywords_path + "?admin=1" -%>
  <%= link_to "User", keywords_path -%>
<% end -%>
