<% if can? :admin, current_user -%>
  <table>
    <thead>
      <tr>
	<th>Name</th>
	<th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @keywords.each do |keyword| %>
	<tr>
          <td><%= keyword.name %></td>
          <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
          <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @keywords %>
  <br>
  <%= link_to 'New Keyword', new_keyword_path %>
<% else -%>
  <% @keywords.each do |keyword| -%>
    <p><%= keyword.name -%>: <%= link_to "#{keyword.tweet_count}", keyword_path(keyword) -%></p>
  <% end -%>
  <%= paginate @keywords %>
<% end -%>

