<% title "話題一覧 - リクリブ" -%>

<div class="col-xs-12">
  <div class="header">
    <h2>
      話題一覧
      <small><%= t('title') %></small>
    </h2>
  </div>
</div>
<div class="col-xs-12 col-sm-7">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
	<th>話題キーワード</th>
	<th>話題数</th>
	<th>話題の企業</th>
      </tr>
    </thead>
    <tbody>
      <% @keywords.each do |keyword| -%>
	<tr>
	  <td>
	    <%= link_to keyword.name, keyword_path(keyword) -%>
	    <% if can?(:admin, current_user) && show_admin? -%>
	      <%= link_to 'Edit', edit_keyword_path(keyword) %>
	      <%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %>
	    <% end -%>
	  </td>
	  <td>
	    <%= keyword.tweet_count -%>件
	  </td>
	  <td>
	    <% company = keyword.hot_companies.first.to_a[0] -%>
	    <% if company -%>
	      <%= link_to company.name, keyword_path(keyword) + "?c=#{company.id}" %>
	    <% end -%>
	  </td>
	</tr>
      <% end -%>
    </tbody>
  </table>
  <%= paginate @keywords %>

  <% if can?(:admin, current_user) && show_admin? -%>
    <br />
    <%= link_to 'New Keyword', new_keyword_path %>
  <% end -%>
</div>

<div class="col-xs-12 col-sm-5">
  <div class="panel panel-primary">
    <%= render 'shared/ads' -%>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
	<%= fa_icon "list-alt", text: "話題 Index" -%>
      </h4>
    </div>
    <div class="panel-body">
      <% @keyword_indices.includes(:keywords).each do |i| -%>
	<p>
	<%= i.name -%><br />
	<% i.keywords.each do |keyword| -%>
	  <%= link_to keyword.name, keyword_path(keyword) -%> |
	<% end -%>
	</p>
      <% end -%>
    </div>
  </div>

  <div class="panel panel-primary">
    <%= render 'shared/ads' -%>
  </div>
</div>
