<p id="notice"><%= notice %></p>

<div class="pull-right">Facebook, Twitter, Googl+</div>
<div class="page-header">
  <h2>
    <%= @keyword.name %>
    <small>話題数: <%= @keyword.tweet_count %>件</small>
  </h2>
</div>

<% @tweets.each do |tweet| -%>
  <p class="<%= tweet.id %>">
    <%= link_to "@#{tweet.username}", "https://twitter.com/#{tweet.username}/status/#{tweet.id}" -%> <small><%= time_ago_in_words tweet.created_at %></small><br />
    <%= tweet.text -%>
    <%= render partial: 'tweets/admin', locals: { tweet: tweet } -%>
  </p>
  <hr class="hr-point" />
<% end -%>

<%= paginate @tweets %>

