<p id="notice"><%= notice %></p>

<p>
  <strong><%= @keyword.name %></strong>
</p>

<p>話題数：<%= @keyword.tweet_count %></p>

<p>
  <% @tweets.each do |tweet| -%>
    <p class="<%= tweet.id %>">
      @<%= tweet.username -%> <%= time_ago_in_words tweet.created_at %><br />
      <%= tweet.text -%>
      <%= render partial: 'tweets/admin', locals: { tweet: tweet } -%>
    </p>
  <% end -%>
  <%= paginate @tweets %>
</p>

