<p id="notice"><%= notice %></p>

<div class="page-header">
  <h2>
    <%= @keyword.name %>
    <small>話題数: <%= @keyword.tweet_count %>件</small>
  </h2>
</div>

<% if params[:c] -%>
  <%= link_to "全て", keyword_path(@keyword), class: "btn btn-default btn-sm" %>
<% else -%>
  <%= link_to "全て", keyword_path(@keyword), class: "btn btn-default btn-sm active" %>
<% end -%>
<% @companies.each do |c| -%>
  <% n = @keyword.tweets_count_with_company(c) -%>
  <% if n > 0 -%>
    <% if params[:c].to_i == c.id -%>
      <%= link_to "#{c.name}(#{n}件)", keyword_path(@keyword) + "?c=#{c.id}", class: "btn btn-default btn-sm active" -%>
    <% else -%>
      <%= link_to "#{c.name}(#{n}件)", keyword_path(@keyword) + "?c=#{c.id}", class: "btn btn-default btn-sm" -%>
    <% end -%>
  <% end -%>
<% end -%>
<hr />

<% @tweets.each do |tweet| -%>
  <p class="<%= tweet.id %>">
    <%= link_to "@#{tweet.username}", "https://twitter.com/#{tweet.username}/status/#{tweet.id}" -%> <small><%= time_ago_in_words tweet.created_at %></small><br />
    <%= tweet.text -%>
    <%= render partial: 'tweets/admin', locals: { tweet: tweet } -%>
  </p>
  <hr class="hr-point" />
<% end -%>

<%= paginate @tweets %>

